# Reading Data

In [ ]:
import csv

# csv file name
filename = "/content/Studetns_project - Sheet1.csv"

# initializing the titles and rows list
fields = []
rows = []

# reading csv file
with open(filename, 'r') as csvfile:
  # creating a csv reader object
  csvreader = csv.reader(csvfile)

  # extracting field names through first row
  fields = next(csvreader)

  # extracting each data row one by one
  for row in csvreader:
    rows.append(row)

  # get total number of rows
  print(f'Total no. of rows: {csvreader.line_num}')
  # sanity check
for r in rows:
  print(r)
print(fields)
print(rows)
print(len(rows))

Total no. of rows: 5
['Sim', 'Foo', 's.foo@school.edu', '100', '80', '95', '92']
['Ahmad', 'Hamdan', 'a.hamdan@school.edu', '80', '75', '87', '50']
['James', 'Willson', 'j.willson@school.edu', '72', '84', '93', '67']
['Mark', 'Cuban', 'm.cuban@school.edu', '63', '81', '99', '73']
['Name', 'Last name ', 'Email', 'Math', 'Physics', 'IT', 'English']
[['Sim', 'Foo', 's.foo@school.edu', '100', '80', '95', '92'], ['Ahmad', 'Hamdan', 'a.hamdan@school.edu', '80', '75', '87', '50'], ['James', 'Willson', 'j.willson@school.edu', '72', '84', '93', '67'], ['Mark', 'Cuban', 'm.cuban@school.edu', '63', '81', '99', '73']]
4

# Failed Students
students whose marks are below 50

In [ ]:
def index(fields, course):
  for i in range(0,(len(fields))):
    if course.lower() == fields[i].lower():
      return i
  return None

def fail(rows,course):
  fail = 0
  i = index(fields,course)
  if i != None:
    for r in rows:
      if r[i].isnumeric():
        if float(r[i]) < 50:
          fail += 1
  return fail

print(fail(rows,"mAtH"))

0

## Failed Students(Names)
a function to show a list of student names who failed a given course

In [ ]:
def index(fields, course):
  for i in range(0,(len(fields))):
    if course.lower() == fields[i].lower():
      return i
  return None

def fail2(rows,course):
  fail1 = []
  i = index(fields,course)
  first_name_index = index(fields,"name")
  last_name_index = index(fields,"last name ")
  if i != None:
    for r in rows:
      name = r[first_name_index] +' '+ r[last_name_index]
      if r[i].isnumeric():
        if float(r[i]) <80 :
          fail1.append([name, float(r[i])])
  return fail1
print(fail2(rows,"MaTh"))

[['James Willson', 72.0], ['Mark Cuban', 63.0]]

## Highest and lowest scoring students
this function finds the highest and lowest grades for a given course!

In [ ]:
def index(fields, course):
  for i in range(0,(len(fields))):
   if course.lower() == fields[i].lower():
    return i
  return None

def high_low(rows, course):
  res = []
  high = 0.0
  low = 100.0
  first_name_index = index(fields,"name")
  last_name_index = index(fields,"last name ")
  i = index(fields,course)
  if i != None:
    for r in rows:
      name = r[first_name_index] +' '+ r[last_name_index]
      if float(r[i]) < low:
        low = float(r[i])
      elif float(r[i]) > high:
        high = float(r[i])
    res.append(high)
    res.append(low)
  return res

def names_from_grade(rows, grade, course):
  names = []
  i = index(fields,course)
  first_name_index = index(fields,"name")
  last_name_index = index(fields,"last name ")
  if i != None:
    for r in rows:
      if float(r[i]) == grade:
        name = r[first_name_index] +' '+ r[last_name_index]
        names.append(name)
    return names
  return 'No student got this grade'

grades_list = high_low(rows, "MaTh") ##<--CHANGE SUBJECT OR COURSE HERE :)
print(names_from_grade(rows, grades_list[0], 'Math'), 'Got the highest grade')
print(names_from_grade(rows, grades_list[1], 'Math'), 'Got the lowest grade')
print(high_low(rows, "MaTh"))

['Sim Foo'] Got the highest grade
['Mark Cuban'] Got the lowest grade
[100.0, 63.0]

## Grade Finder
This function finds the student who got the set grade

In [ ]:
def names_from_grade(rows, grade, course):
  names = []
  i = index(fields,course)
  first_name_index = index(fields,"name")
  last_name_index = index(fields,"last name ")
  if i != None:
    for r in rows:
      if float(r[i]) == grade:
        name = r[first_name_index] +' '+ r[last_name_index]
        names.append(name)
    return names
  return 'No student got this grade'

print(names_from_grade(rows, 80, 'Physics')) ##<---CHANGE SET GRADE BY CHANGING THE NUMBER :)

['Sim Foo']

## Find the average grade for a given course

In [ ]:
def index(fields, course):
  for i in range(0,(len(fields))):
   if course.lower() == fields[i].lower():
    return i
  return None

def avg(rows,course):
  sum = 0
  i = index(fields,course)
  if i != None:
    for r in rows:
      if r[i].isnumeric():
        sum += int(r[i])
    sum = sum / len(rows)
  return sum
print(avg(rows,"math"))##<-------CHANGE COURSE OR SUBJECT HERE :)

78.75

## Highest average course

In [ ]:
courses = ['Math', 'Physics', 'IT', 'English']## <--------- CHANGE COURSES HERE ACCORDINGLY
def find_highest_avg(rows, courses):
  highest_avg = [None, 0.0]
  for course in courses:
    tavg = avg(rows, course)
    if tavg > highest_avg[1]:
      highest_avg[0] = course
      highest_avg[1] = tavg
  return highest_avg
print(find_highest_avg(rows, courses))

['IT', 93.5]

## Lowest average course

In [ ]:
courses = ['Math', 'Physics', 'IT', 'English']## <--------- CHANGE COURSES HERE ACCORDINGLY
def find_lowest_avg(rows, courses):
  lowest_avg = [None, 100.0]
  for course in courses:
    eavg = avg(rows,course)
    if eavg < lowest_avg[1]:
      lowest_avg[0] = course
      lowest_avg[1] = eavg
  return lowest_avg
print(find_lowest_avg(rows,courses))

['English', 70.5]

avg grade for a given name and last name

In [ ]:
# get the row for a given name
def row_given_name(rows, first_name, last_name):
  for r in rows:
   if first_name.lower() == r[0].lower() and last_name.lower() == r[1].lower():
    return r
  return None

print(row_given_name(rows, 'Ahmad', 'Hamdan'))

['Ahmad', 'Hamdan', 'a.hamdan@school.edu', '80', '75', '87', '50']

In [ ]:
courses = ['Math', 'Physics', 'IT', 'English']## <--------- CHANGE COURSES HERE ACCORDINGLY
def student_avg_grade(first_name, last_name, rows, courses):
  sum = 0
  r = row_given_name(rows, first_name, last_name)
  if r != None:
    for i in r:
      if i.isnumeric():
        sum += float(i)
    avg = sum / len(courses)
    return avg
  return f'{first_name} {last_name} does not exist'

print(student_avg_grade('Mark', 'Cuban', rows, courses))

79.0